body {
  background-color:#fafafa;
  font:normal 16px Arial, Helvetica, sans-serif;
  padding:0;
}
td,a,div,.p{font-family:arial,sans-serif}
div,td{color:#000000}
a:link,.w,.w a:link{color:#0000cc}
a:visited{color:#551a8b}
a:active{color:#ff0000}

.cbg-TabBarItem{
  padding:0 8px;
}

.cbg-TabBarItem .gwt-Label {
	background-color:#D3D3D3;
/*  border-bottom: solid 2px lightblue;*/ 
}
.cbg-TabBarItem .cbg-RP {
  background-color:#D3D3D3;
}

.cbg-TabBarItem-selected .gwt-Label { 
background-color:maroon;
  /* 
  border-bottom: none; 
  border-bottom: solid 2px maroon;
  */ 
}


.cbg-TabbedPanel {
  background-color:yellow;
}

.cbg-TabbedPanelTab {
}

.cbg-TabbedPanelContent {
  background-color:maroon;
  padding:10px;

}
.cbg-RatingWidgetItem {
   margin-left:1px;
}
.gwt-SliderBar-shell {
  border: 2px solid #faf9f7;
  border-right: 2px solid #848280;
  border-bottom: 2px solid #848280;
  background-color: #efebe7;
  height: 34pt;
  width: 50%;
}
.gwt-SliderBar-shell .gwt-SliderBar-line {
  border: 1px solid black;
  background-color: white;
  height: 4px;
  width: 95%;
  top: 22pt;
  overflow: hidden;
}
.gwt-SliderBar-shell .gwt-SliderBar-knob {
  top: 14pt;
  width: 11px;
  height: 21px;
  z-index: 1;
  cursor: pointer;
}
.gwt-SliderBar-shell .gwt-SliderBar-tick {
  top: 12pt;
  width: 1px;
  height: 8pt;
  background: black;
  overflow: hidden;
}
.gwt-SliderBar-shell .gwt-SliderBar-label {
  top: 2pt;
  font-size: 8pt;
  cursor: default;
}
.gwt-SliderBar-shell-focused {
}
.gwt-SliderBar-shell .gwt-SliderBar-line-sliding {
  background-color: #DDDDDD;
  cursor: pointer;
}

.cbg-ButtonContent::selection {
  background-color:transparent;
}

.widerButton .cbg-ButtonInner {
  padding: 0 20px;
}
.cbg-ratingwithtext {
	font-size: 8pt;
}